/* Reset cơ bản */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Ngăn cuộn ngang */
    overflow-y: scroll;
}

/* Lưới tổng thể */
.classQuanLy {
    display: grid;
    grid-template-columns: 13% 87%; /* Menu chiếm 13%, nội dung 87% */
    grid-template-rows: 5% 95%; 
    height: 100vh; /* Toàn màn hình */
    width: 100vw; 

}

/* Menu bên trái */
.menu {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: rgb(17, 30, 108);
    color: white;
    padding: 0;
    z-index: 1;
    position: relative;
    transition: transform 0.8s ease;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}
.logo div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo img {
    max-width: 25%;
    min-height: 25%;
    border-radius: 50%;
    border: solid 2px;
    cursor: pointer;
}

.logo h4, .logo p {
    margin: 0;
    text-align: center;
}

/* Danh sách menu */
.innermenu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}
.innermenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu-1 {
    display: flex;
    align-items: center;
    margin: 7px 0;
    padding: 20px;
    font-size: large;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.menu-1:hover {
    color: black;
    background-color: rgba(192, 200, 248, 0.973);
}

.menu-1 i {
    margin-right: 10px;
    font-size: 18px;
}

/* Thanh header (top menu) */
.out {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    background-color: rgb(17, 30, 108);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    position: relative;
}

.out1 {
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    margin-right: 24px;
}
.out1 i {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}
.menu i{
    visibility: hidden;
    position: absolute;
    right: 0px;
    font-size: x-large;

}
.out1 i:hover {
    color: yellow;
}

/* Khu vực nội dung */
.content {
    grid-column: 2 / 3;
    background-color: rgba(128, 128, 128, 0.093);
    padding: 20px;
    overflow-y: auto;
}
/* xem xét sau */
.ul-menu {
    display: flex;
    white-space: nowrap;
}
@media (max-width: 800px )and (orientation:landscape){
    .content {
        grid-column: 1 / 3;
    }
    .menu{
        /* transform: translateX(-100%); */
        visibility: hidden;
        width: 50vw;
        overflow: scroll;
        
    }
    .menu i{
        visibility: unset;
    }
}
